

/*主要布局元素 -----------------------------------------*/
/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page {
    width: 1120px;
    background-color: transparent;
    margin: 10px auto 0px auto;
}


.main{
    margin: 10px 8px 8px 8px;
    min-height: 140px;
}

.logo {
    width: 100%;
    background-image: url('/images/logo1.jpg');
    background-repeat: no-repeat;
    height: 120px;
    margin: 0 auto;
}

.text {
     color: #507CD1;
    font-family: 华文细黑;
    text-align: center;
    width: 160px;

}

/* TAB MENU   
----------------------------------------------------------*/

div.menuback {
    width: 100%;
    background-color: #1B7AB4;
}



/* table  
----------------------------------------------------------*/
.auto-style9 {
    font-family: 华文细黑;
    color: black;
    border: thin solid #507CD1;
    Height: 28px;
    width: 351px;
    text-align: center;
}

.auto-style11 {
    border: thin solid #507CD1;
    text-align: center;
    height: 256px;
    width: 351px;
}

.auto-style12 {
    font-family: 华文细黑;
        color: white;
    background-color: #507CD1;
    Height: 28px;
}

.auto-style14 {
    border: thin solid #507CD1;
    height: 27px;
    width: 351px;
    text-align: center;
}

.auto-style15 {
    height: 54px;
    text-align: center;
}

.auto-style17 {
    border: thin solid #507CD1;
    text-align: center;
    height: 130px;
    width: 351px;
}

.auto-style18 {
    color: #507CD1;
    font-family: 华文细黑;
    Height: 27px;
    width: 23px;
    text-align: center;
}

.auto-style19 {
    color: #507CD1;
    font-family: 华文细黑;
    text-align: center;
    Height: 28px;
    width: 23px;
}

.auto-style20 {
    height: 130px;
    color: #507CD1;
    font-family: 华文细黑;
    width: 23px;
    text-align: center;
}

.auto-style21 {
    color: #507CD1;
    font-family: 华文细黑;
    height: 256px;
    width: 23px;
    text-align: center;
}

.zhaiyao {
    margin-top: 5px;
    width: 99%;
    height: 99%;
    font-size: large;
    background-color:white;
}
